
<div class="row">
  <div class="col-sm">
    <h5>Lista de clientes</h5>
  </div>
</div>
<div class="row">
  <div class="col-sm">
      <table class="table">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Telefono</th>
              <!-- <th>Direccion</th> -->
              <th>Entrenador</th>
              <th>Usuario</th>
              <th colspan="3"></th>
            </tr>
          </thead>
        
          <tbody>
            <% @clients.each do |client| %>
              <tr>
                <td class="toUpper"><%= client.name %></td>
                <td class="toUpper"><%= client.lastname %></td>
                <td><%= client.phone %></td>
                <!-- <td><%= client.address %></td> -->
                <td><%= client.coach.name %></td>
                <td><%= client.user %></td>
                <td><%= link_to 'Ver', admin_client_path(client) %></td>
                <td><%= link_to 'Editar', edit_admin_client_path(client) %></td>
                <td><%= link_to 'Eliminar', client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        
  </div>
</div>

