<p id="notice"><%= notice %></p>

<p>
  <strong>Client:</strong>
  <%= @note.client %>
</p>

<p>
  <strong>Coach:</strong>
  <%= @note.coach %>
</p>

<p>
  <strong>Details:</strong>
  <%= @note.details %>
</p>

<p>
  <strong>Exercise:</strong>
  <%= @note.exercise %>
</p>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
