<p id="notice"><%= notice %></p>

<p>
  <strong>Coach:</strong>
  <%= @comment.coach %>
</p>

<p>
  <strong>Value:</strong>
  <%= @comment.value %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
