
<p>
  <strong>Nombre:</strong>
  <%= @exercise.name %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @exercise.category.name %>
</p>
<p>
  <strong>Descripcion: </strong>
  <%=@exercise.description%>
</p>
<p>
  <%= image_tag(@exercise.imagen.url, style: 'width:200px;')%>
</p>
<%= link_to 'Editar', edit_admin_exercise_path(@exercise) %> |
<%= link_to 'Regresar', admin_exercises_path %>
