<div class="row" style="margin-top:2em;">
  <div class="col-sm">
    <h5 class="center-text">Panel de administracion</h5>
  </div>
</div>
<div class="row">
  <div class="col-sm"></div>
  <div class="col-sm">
    <div class="card padding-largo" >
     <div class="card-body">
        <div class="row">
            <div class="col-sm"><h5>Iniciar sesion</h5></div>
          </div>
          <div class="row">
            <div class="col-sm">
                <%= form_for(resource, as: resource_name, url: user_session_path) do |f| %>
                <div class="row">
                  <div class="col-sm">
                    <div class="form-group">
                        <%= f.label :email, "Correo Electronico" %>
                        <%= f.email_field :email, autofocus: true, class:' form-control' %>
                    </div>
                  </div>
                </div>
                  
              
                  <div class="row">
                      <div class="col-sm">
                        <div class="form-group">
                            <%= f.label :password, "Contraseña" %>
                            <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
                        </div>
                      </div>
                    </div>
               
              
                <% if devise_mapping.rememberable? -%>
                  <div class="field">
                    <%= f.check_box :remember_me %>
                    <%= f.label :remember_me, "Recordarme" %>
                  </div>
                <% end -%>
              
                <div class="row justify-content-between">
                  <div class="col align-self-center">
                    <div class="actions">
                      <%= f.submit "Ingresar", class: ' btn btn-raised btn-info' %>
                    </div>
                  </div>
                </div>
              <% end %>
              
              
            </div>
          </div>
     </div>
    </div>
  </div>
  <div class="col-sm"></div>
</div>
