<div class="row">
  <div class="col-sm">
    <div class="row">
      <div class="col-sm">
        <h5>Lista de entrenadores</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <table class="table">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Disciplina</th>
              <th>Usuario</th>
              <th colspan="3"></th>
            </tr>
          </thead>
        
          <tbody>
            <% @coaches.each do |coach| %>
              <tr>
                <td><%= coach.name %></td>
                <td><%= coach.discipline.name %></td>
                <td><%= coach.user %></td>
                <td><%= link_to 'Editar', edit_admin_coach_path(coach) %></td>
                <td><%= link_to 'Eliminar', coach, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        
        
        <%= link_to 'Nuevo Entrenador', new_admin_coach_path , class: 'btn btn-raised primary'%>
      </div>
    </div>
  </div>
</div>


